* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Markazi Text", serif;
}

/* navigation */
.nav-section {
    height: 60.8px;
    width: 100%;
}

.nav {
    padding: 10px 10%;
    display: flex;
    min-height: fit-content;
    height: 40px;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(175, 175, 175) solid;
    position: relative;
    z-index: 10000;
}

.nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav ul li a {
    color: black;
    display: block;
    height: 40px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}

.nav ul li a > div {
    position: relative;
    width: fit-content;
    margin:auto;
}

.nav ul li {
    font-size: 24px;
    display: block;
    height: 40px;
    align-content: center;
    text-align: center;
}

.nav ul li a p:hover {
    text-decoration: underline;
}

nav .active p {
    text-decoration: underline;
}

.total-items-inactive {
    display: none;
}

.total-items-active{
    min-width: fit-content;
    min-height: fit-content;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12pt;
    align-items: center;
    position: absolute;
    top: -0.2rem;
    right: -1.2rem;
}

.hamburger-button {
    display: none;
    width: 20px;
    height: auto;
    position: absolute;
    right: 5%;
    top: 19px;
}

.hamburger-button:hover {
    cursor: pointer;
}

.popup-container-cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.popup-cart {
    width: fit-content;
    height: fit-content;
    padding: 50px;
    background-color: white;
}

.popup-cart h1 {
    font-weight: normal;
    font-size: 25pt;
}

.popup-cart p {
    font-size: 17pt;
    color: gray;
}

.popup-cart button {
    margin-right: 20px;
    margin-top: 20px;
    border: none;
    background-color: white;
    font-size: 25pt;
    cursor: pointer;
}

.popup-cart > button:last-child {
    color:#5ab0a4;
}

.cancel-button {
    color: rgb(93, 93, 93);
}

@media screen and (max-width: 1150px) {
    .nav {
        padding: 10px 5%;
    }    
}

@media screen and (max-width: 1000px) {
    .nav {
        flex-direction: column;
        align-items: start;
        padding: 10px 5%;
        position: absolute;
        top: 0;
    }


    .nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .nav ul li {
        width: 100%;
        text-align: center;
    }

    .nav ul li a p:hover {
        text-decoration: none;
    }
    
    .nav ul li a:not(.active):hover {
        background-color: #fceee1;
    }

    nav .active {
        background-color: #fceee1;
    }

    nav .active p {
        text-decoration: none;
    }

    nav .active:hover {
        background-color: #fbe5d0;
    }

    ul.open {
        display: block;
    }

    .hamburger-button {
        display: block;
    }
}

/* home */
.intro-section {
    width: 100%;
    background-color: #495E57;
    padding: 40px 10%;
    height: 500px;
}

.intro-component {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.display {
    width: 40%;
}

.big {
    width: 350px;
    height: auto;
    border-radius: 15px;
}

.small {
    display: none;
    width: 100%;
    border-radius: 15px;
}

.display-title {
    font-size: 50pt;
    color: #F4CE14;
    font-weight: bold;
}

.sub-title {
    font-size: 35pt;
    color: white;
}

.description {
    font-family: "Karla", serif;
    font-size: 18pt;
    color: white;
    margin-bottom: 20px;
}

#booking-button {
    display: block;
    font-size: 22pt;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    background-color: #F4CE14;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
}

#booking-button:active {
    transform: scale(0.9);
}

.specials-section {
    height: fit-content;
    width: 100%;
    padding: 80px 10%;
}

.menu-button {
    display: block;
    font-size: 22pt;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    background-color: #F4CE14;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: black;
}

.menu-button:active {
    transform: scale(0.9);
}

.specials-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.specials-title {
    font-size: 50pt;
}

.specials-content {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 1%;
}

.card-container {
    min-height: fit-content;
    height: 500px;
    width: 300px;
    background-color:#9fb3ad;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.img-container {
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.img-container img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-container {
    width: 90%;
    margin: 10px 5%;
}

.flex-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-button {
    display: block;
    font-size: 12pt;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    background-color: #F4CE14;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-button:active {
    transform: scale(0.9);
}

.card-title, .card-description, .card-cost {
    font-size: 18pt;
}

.card-description section {
    display: block;
    width: 100%;
    height: 175px;
    overflow:scroll;
    scrollbar-width: none;
}

.ratingCard {
    min-height: fit-content;
    height: 325px;
    width: 200px;
    justify-items: center;
    text-align: center;
    padding: 20px 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.avatar-container {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Testimonials */

.flex-testimonials {
    padding: 40px 10%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.testimonials {
    background-color: #495E57;
}

.testimonials > p {
    display: block;
    font-size: 45pt;
    text-align: center;
    color: white;
}

.ratingCard p {
    font-size: 13pt;
}

/* About */
.about {
    width: 100%;
    padding: 60px 10%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.about-imgs-container {
    width: 450px;
    height: 480px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.img2 {
    grid-row: 1/3;
    grid-column: 2/4;
}

.img1 {
    grid-row: 2/4;
    grid-column: 1/3;
    z-index: 30;
}

.about-title {
    font-size: 50pt;
}

.about-subtitle {
    font-size: 30pt;
}

.about-description {
    font-size: 25pt;
    color: gray;
}

.about-img-container {
    width: 300px;
    height: 320px;
    overflow: hidden;
    border-radius: 15px;
}

.about-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Login */
.login-section {
    padding: 50px 10%;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-items: center;
    background-color: #495E57;
}

.login-component {
    width: 500px;
    height: 500px;
    min-height: fit-content;
    padding: 30px;
    border: 1px black solid;
    background-color: white;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
}

.login-title {
    font-size: 35pt;
    color: #495E57;
}

.login-subtitle {
    font-size: 18pt;
}

.login-form {
    width: 100%;
    min-height: fit-content;
}

.error {
    font-size: 15pt !important;
    color: red;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content:start;
    width: 100%;
    margin: 20px 0;
}

.form-input input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 18pt;
    border: 2px gray solid;
    border-radius: 10px;
}

.form-input label {
    font-size: 18pt;
}

.login-form button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #F4CE14;
    font-size: 20pt;
    border: none;
    cursor: pointer;
}

.login-form button:active {
    transform: scale(0.9);
}

/* logout */
.logout-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10%;
    height: 500px;
    width: 100%;
    background-color: #81a096;
}

.logout-section img {
    width: 200px;
    height: auto;
    margin-bottom: 40px;
}

.logout-section button {
    display: block;
    font-size: 30pt;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    background-color: #F4CE14;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
}

.logout-section button:active {
    transform: scale(0.9);
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.popup {
    width: 300px;
    height: fit-content;
    padding: 40px;
    justify-items: center;
    background-color: white;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
}

.popup p, .popup button {
    font-size: 22pt;
}

.popup button {
    background-color: #495E57;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    color: white;
}

/* reservations */
.reservations {
    width: 100%;
    height: fit-content;
    padding: 40px 10%;
    background-color: #495E57;
    justify-items: center;
    align-items: center;
}

.reservations h1 {
    color: #F4CE14;
    font-size: 50pt;
}

.booking-form {
    width: 700px;
    justify-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
}

.booking-form > div:not(:last-child) {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    text-align: center;
}

.booking-form label {
    font-size: 25pt;
    display: flex;
}

.asterisk {
    font-size: 20pt;
    color: red;
}

.booking-form input, .booking-form select, .booking-form option {
    width: 300px;
    height: 50px;
    font-size: 20pt;
    border-radius: 10px;
    padding-left: 10px;
}

#requests {
    padding-right: 10px;
}

.booking-form button {
    display: block;
    font-size: 20pt;
    width: 300px;
    height: 50px;
    padding: 5px 10px;
    background-color: #F4CE14;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 30px;
    border: none;
}

.booking-form button:not(:disabled):active {
    transform: scale(0.9);
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.popup {
    width: 300px;
    height: fit-content;
    padding: 40px;
    justify-items: center;
    background-color: white;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
}

.popup p, .popup button {
    font-size: 22pt;
}

.popup button {
    background-color: #495E57;
    width: fit-content;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    color: white;
}

/* menu */
.order-online-container {
    width: 100%;
    height: fit-content;
    padding: 40px 10%;
}

.order-online-container > p:first-child {
    display: block;
    font-size: 40pt;
    margin-bottom: 20px;
    color:#495E57;
}

.order-online-container > form {
    width: 800px;
    max-width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 8px #0000003d;
    border-radius: 10px;
}

.order-online-container > form > input {
    flex-grow: 1;
    font-size: 20pt;
    height: 40px;
    border: 1px black solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}

.search-button {
    height: 40px;
    width: 45px;
    padding: 5px;
    background-color: #495E57;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-icon {
    height: 100%;
    width: auto;
}

.food-nav-container {
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 10px;
    margin-bottom: 40px;
}

.food-nav-container a {
    display: block;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    background-color: #e5e4e4;
    border-radius: 25px;
    text-align: center;
    color: black;
    font-size: 20pt;
}

.food-card-container {
    width: 290px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.food-card-container:hover {
    transform: scale(1.03);
    transition-duration: 0.2s;
}

.food-content-container {
    height: 100%;
    height: 100%;
    position: relative;
}

.food-card-img-container {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 10px;
}

.food-card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-flex-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.food-likes {
    margin-right: 5px;
    font-size: 18pt;
}

.food-title {
    font-size: 18pt;
    width: 80%;
    color:#495E57;
    font-weight: bold;
}

.food-type {
    color:rgb(80, 80, 80);
    font-size: 16pt;
}

.food-price {
    font-size: 16pt;
}

.food-button {
    display: block;
    font-size: 14pt;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    background-color: #F4CE14;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.food-button:hover {
    transform:scale(1.05);
}

.food-button:active {
    transform:scale(0.9);
}

.flex-food-container {
    display: grid;
    grid-template-columns: repeat(3, 290px);
    column-gap: calc((100% - (290px * 3)) / 2);
    row-gap: 30px;
}

.food-nav-container .active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.empty-cart {
    padding: 150px 10%;
    justify-items: center;
}

.empty-title {
    font-size: 30pt;
    text-align: center;
}

.empty-cart > a > p {
    color:#495E57;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px #495E57 solid;
    font-size: 25pt;
    height: fit-content;
    width: fit-content;
}

.empty-cart > a > p:hover {
    transform: scale(1.05);
}

.empty-cart > a > p:active {
    transform: scale(0.9);
}

.foods-not-found {
    width: 100%;
    font-size: 40pt;
    color:#545454;
    text-align: center;
}

.cart {
    padding: 40px 10%;
}

.grid-cart-title {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 20pt;
    color:#495E57;
    font-weight: bold;
}

.cart-item {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    border-bottom: 1px rgb(132, 132, 132) solid;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 20pt;
}

.cart-item > div:first-child {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding-right: 15px;
}

.cart-item-img-container {
    height: 80px;
    width: 80px;
    overflow: hidden;
    min-height: 80px;
    min-width: 80px;
}

.cart-item-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-cart-title {
    font-size: 40pt;
    color:#495E57;
}

.quantity-button {
    display: flex;
    font-size: 20pt;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    border: 0.5px rgb(182, 182, 182) solid;
    align-self: center;
}

.cart-item > div {
    align-items: center;
    align-self: center;
}

.quantity-button button {
    width: 25px;
    font-size: 20pt;
    min-height: fit-content;
    border: none;
    cursor: pointer;
}

.quantity-button button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.quantity-button button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quantity-button div {
    width: 30px;
    min-width: fit-content;
    text-align: center;
}

.cart-item-name {
    max-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cart-checkout {
    width: min(500px, 100%);
    height: fit-content;
    padding: 40px 20px;
    background-color: rgb(244, 244, 244);
    margin-top: 30px;
}

.flex-price {
    display: flex;
    justify-content: space-between;
}

.cart-checkout h1 {
    font-weight: normal;
    font-size: 30pt;
}

.cart-checkout > div > p:first-child {
    font-size: 20pt;
}

.cart-checkout > div > p:last-child {
    font-size: 28pt;
    color:#64a18c;
}

.cart-checkout button {
    width: fit-content;
    height: fit-content;
    font-size: 20pt;
    background-color: #F4CE14;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
}

.cart-checkout button a {
    color: black;
}

.cart-checkout button:hover {
    transform: scale(1.05);
}

.cart-checkout button:active {
    transform: scale(0.95);
}

.food-not-found-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sad-icon {
    width: 100px;
    height: auto;
    color: #545454;
    margin: auto;
}

.back-button {
    display: flex;
    font-size: 20pt;
}

.back-button > h4:first-child {
    margin-right: 10px;
}

.back-button > h4 {
    color: black;
}

.checkout-page {
    padding: 40px 10%;
    background-color: rgb(238, 238, 238);
    display: flex;
    gap: 20px;
}

.checkout, .other-fees, .total, .grandtotal {
    width: 100%;
    display: block;
}

.checkout-large-component {
    width: 350px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    height: fit-content;
}

.checkout-items {
    width: 100%;
    background-color: white;
    color: rgb(74, 74, 74);
    margin-bottom: 10px;
    border-bottom: 0.2px gray solid;
}

.checkout-item {
    display: grid;
    grid-template-columns: 23px 180px 1fr 1fr;
    gap: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15pt;
}

.checkout-item-price {
    justify-self: start;
}

.trash {
    justify-self: end;
    color: rgb(190, 190, 190);
    width: 15px; 
    height: auto;
    margin-top: 5px;
}

.other-fees > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgb(74, 74, 74);
    font-size: 15pt;
}

.other-fees {
    margin-bottom: 15px;
    border-bottom: 0.2px gray solid;
}

.total > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15pt;
    color: rgb(74, 74, 74);
}

.total {
    margin-bottom: 15px;
    border-bottom: 0.2px gray solid;
}

.grandtotal {
    display: flex;
    justify-content: space-between;
    font-size: 15pt;
}

.checkout-component > h3 {
    font-size: 18pt;
}

.checkout {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
    font-size: 15pt;
}

.ship, .card-number-container, .expiration-container, .cvv-container {
    display: flex;
    flex-direction: column;
}

.ship label {
    color: rgb(74, 74, 74);
}

.checkout input {
    border-radius: 7px;
    padding: 2px;
}

#shippingAddress, #cardNumber, #expiration, #cvv {
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0.3px gray solid;
    outline: none;
}

.payment-information, .card-number, .expiration, .cvv {
    color: rgb(74, 74, 74);
}

.checkout ul {
    display: flex;
    gap: 8px;
}

#shippingAddress {
    width: min(400px, 100%);
}

#cardNumber {
    width: 300px;
    margin-right: 10px;
}

.grid-card-container {
    width: 300px;
    display: grid;
    grid-template-columns: 130px 130px;
    gap: 40px;
    margin-bottom: 10px;
}

.back-text {
    color: black;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    border: 0.3px gray solid;
    border-radius: 5px;
}

.payment-button {
    border: none;
    padding: 10px;
    font-size: 15pt;
    border-radius: 5px;
    color: white;
    background-color: #495E57;
    border: 0.2px #495E57 solid;
}

.back-text:active, .payment-button:active {
    transform: scale(0.95);
}

.checkout ul > div {
    padding: 5px;
    padding-right: 8px;
    width: 20px; height: 20px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 0.2px gray solid;
    box-sizing: content-box !important;
}

div.checkout-active {
    border: 3px #60a08b solid !important;
}

.card-display {
    width: 30px;
    height: auto;
    position: relative;
    top: 6px;
}

.card-number-container {
    margin-top: 10px;
}

#shippingAddress:focus, #cardNumber:focus, #expiration:focus, #cvv:focus {
    border: 3px #60a08b solid;
}

.errors, .checkout-page span {
    font-size: 12pt;
    color: red;
}

.checkout-page label {
    width: fit-content;
}

@media screen and (max-width:1160px) {
    .intro-section {
        padding: 40px 10%;
        height: fit-content;
    }

    .specials-section {
        padding-top: 20px;
    }
}

@media screen and (max-width:1150px) {
    .intro-section {
        padding: 40px 5%;
    }
    
    .specials-section {
        padding: 20px 5%;
    }

    .card-container {
        width: 280px;
    }

    .flex-testimonials {
        padding: 40px 5%;
    }

    .about {
        padding: 40px 5%;
    }

    .login-section {
        padding: 40px 5%;
    }

    .reservations {
        padding: 40px 5%;
    }

    .order-online-container {
        padding: 40px 5%;
    }

    .cart {
        padding: 40px 5%;
    }

    .checkout-page {
        padding: 40px 5%;
    }
}

@media screen and (max-width:1000px) {
    .specials-content {
        flex-direction: column;
        gap: 20px;
    }

    .specials-header {
        display: block;
    }

    .specials-title {
        font-size: 40pt;
    }

    .description-container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .card-container {
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .card-description {
        height: fit-content;
    }

    .img-container {
        width: 100%;
        height: 100%;
    }

    .flex-card-container {
        display: block;
    }

    .card-title, .card-description, .card-cost {
        font-size: 16pt;
    }

    .flex-testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        row-gap: 20px;
        column-gap: 20px;
    }

    .about {
        display: block;
    }

    .about-imgs-container {
        justify-self: center;
        margin-top: 50px;
    }

    .flex-food-container {
        grid-template-columns: repeat(2, 360px);
        column-gap: calc((100% - (360px * 2)));
    }

    .food-card-container {
        width: 360px;
    }    
}

@media screen and (max-width: 850px) {
    .food-card-container {
        width: 300px;
    }

    .flex-food-container {
        grid-template-columns: repeat(2, 300px);
        column-gap: calc((100% - (300px * 2)));
    }
    
    .grid-cart-title {
        grid-template-columns: 3fr 1fr 1fr;
        font-size: 15pt;
    }
    
    .cart-item {
        height: 70px;
        font-size: 15pt;
        grid-template-columns: 3fr 1fr 1fr;
    }

    .cart-item-img-container {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
    }

    .cart-item-name {
        max-height: 50px;
        white-space: nowrap;
    }

    .quantity-button {
        font-size: 15pt;
    }

    .quantity-button button {
        font-size: 15pt;
        width: 18px;
    }

    .quantity-button div {
        width: 20px;
    }

    .checkout-page {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .booking-form {
        width: 80%;
    }
}

@media screen and (max-width:700px) {
    .intro-component {
        flex-direction: column;
        align-items: start;
    }
    
    .display {
        width: 100%;
    }
    
    .big {
        display: none;
    }

    .small {
        display: block;
    }

    .flex-testimonials {
        grid-template-columns: 1fr;
    }

    .about-imgs-container {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        gap: 2%;
    }

    .about-img-container {
        width: 45%;
    }

    .login-component {
        width: 350px;
    }

    .flex-food-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .food-card-container {
        width: 330px;
    }

    .flex-food-container {
        grid-template-columns: repeat(2, 330px);
        column-gap: calc((100% - (330px * 2)));
    }    
}

@media screen and (max-width: 670px) {
    .cart-item-name {
        max-width: 110px;
    }
}

@media screen and (max-width: 500px) {
    .booking-form {
        width: 350px;
    }
}

@media screen and (max-width: 411px) {
    .card-display {
        top: 0px;
    }
}

/* footer */
.footer {
    padding: 10px 10%;
    display: flex;
    min-height: fit-content;
    height: 300px;
    background-color: #FBDABB;
    justify-content: space-between;
    align-items: center;
}

.footersection {
    height: 180px;
}

.footerheader {
    font-size: 24px;
    color: #495E57;
}

.footer div p a {
    color: black;
    font-size: 20px;
}

.smallsections {
    margin-bottom: 10px;
}

.smallsections p {
    font-size: 20px;
}

.footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1150px) {
    .footer {
        padding: 10px 5%;
    }    
}

@media screen and (max-width: 1000px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer img {
        margin-bottom: 30px;
    }
    
    .footersection {
        display: block;
        height: fit-content;
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}