* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* navigation */
.nav {
    padding: 10px 200px;
    display: flex;
    height: 50px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav ul li {
    font-family: "Markazi Text", serif;
    font-size: 20px;
}


/* footer */
.footer {
    padding: 10px 200px;
    display: flex;
    min-height: fit-content;
    height: 250px;
    background-color: #FBDABB;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
}

.grid-container ul li {
    font-family: "Markazi Text", serif;
    font-size: 20px;
}



