* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* navigation */
.nav {
    padding: 10px 10%;
    display: flex;
    min-height: fit-content;
    height: 50px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(175, 175, 175) solid;
}

.nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav ul li a {
    color: black;
    display: block;
    height: 50px;
    align-content: center;
    border-radius: 10px;
}

.nav ul li {
    font-family: "Markazi Text", serif;
    font-size: 24px;
    display: block;
    height: 50px;
    align-content: center;
}

.nav ul li a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}


.menubutton {
    display: none;
    position: absolute;
    right: 5.5%;
    transform: scale(1.5);
    top: 22px;
}

.menubutton:hover {
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .nav {
        padding: 10px 5%;
    }    
}

@media screen and (max-width: 1000px) {
    .menubutton {
        display: block;
    }

    .nav {
        flex-direction: column;
        align-items: start;
        padding: 10px 5%;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: sticky;
        margin-top: 10px;
    }

    .nav ul li {
        width: 100%;
        text-align: center;
    }

    .nav ul li a:hover {
        text-decoration: none;
    }
    
    .nav ul li a:not(.active):hover {
        background-color: #fceee1;
    }

    .active {
        background-color: #fceee1;
        text-decoration: none;
    }

    .active:hover {
        background-color: #fbe5d0;
    }

    ul.open {
        display: block;
    }

}

/* home */
.about-component {
    padding: 10px 10%;
}

.display-title {
    font-family: "Markazi Text", serif;
    font-size: 64pt;
}

.sub-title {
    font-family: "Markazi Text", serif;
    font-size: 40pt;
}

.description {
    font-family: "Markazi Text", serif;
    font-size: 20pt;
    color: #5e5e5e;
}

/* footer */
.footer {
    padding: 10px 10%;
    display: flex;
    min-height: fit-content;
    height: 300px;
    background-color: #FBDABB;
    justify-content: space-between;
    align-items: center;
}

.footersection {
    height: 180px;
}

.footerheader {
    font-family: "Markazi Text", serif;
    font-size: 24px;
    color: #495E57;
}

.footer div p a {
    color: black;
    font-family: "Markazi Text", serif;
    font-size: 20px;
}

.smallsections {
    margin-bottom: 10px;
}

.smallsections p {
    font-family: "Markazi Text", serif;
    font-size: 20px;
}

@media screen and (max-width: 1150px) {
    .footer {
        padding: 10px 5%;
    }    
}

@media screen and (max-width: 1000px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer img {
        margin-bottom: 30px;
    }
    
    .footersection {
        display: block;
        height: fit-content;
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}